html {
  padding: 0px;
}

.topheader {
  width: 100%;
  background-color: skyblue;
  padding: 1px;
  border-bottom: 25px solid #1199ff;

}
.logo {
  height: 100px;
  padding-top: 18px;
  padding-left: 25px;

}
.left-header img {
  float:left;

}

.left-header h1 {
  float: left;
  font-family: fantasy;
  font-size: 50px;
  padding-left: 20px;
  padding-right: 250px;

}
.clear {
  clear: both;
}
.left-header ul {
  padding-top: 35px;
  float: right;

}

.left-header ul li {
  font-size: 25px;
  display:inline-block;


}

.left-header ul li a {
  font-size: 35px;
  color: #1199ff;
  text-decoration: none;
  text-shadow: 2px 2px #aaaaff;
  margin-right: 30px;

}

.splash {
  width: 100%;
  height: 550px;
  background-image: url(../img/splash.jpg);
  background-position: center;
  background-size: cover;
}

.col1 {
  float: left;
  width: 30%;
  padding-top: 20px;

}
.col1 img {
  width: 100%

}

.col1 p {
  background-color: skyblue;
  margin-top: 0px;
  text-indent: 50px;
  font-size: 25px;
  color: black;
  font-family: 'Crete Round', serif;
  padding: 10px;
}
.col2 {
  float: right;
  width: 30%;
  padding-top: 20px;

}
.col2 img {
  width: 100%

}

.col2 p {
  background-color: skyblue;
  margin-top: 0px;
  text-indent: 50px;
  font-size: 25px;
  color: black;
  font-family: 'Crete Round', serif;
  padding: 10px;
}
