* {
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  background-color: #ffedcc;
  margin: 0;
}

.topheader {
  width: 100%;
  background-color: skyblue;
  padding: 1px;
  border-bottom: 25px solid #1199ff;

}
.logo {
  height: 100px;
  padding-top: 18px;
  padding-left: 25px;

}
.left-header img {
  float:left;

}

.left-header h1 {
  float: left;
  font-family: fantasy;
  font-size: 50px;
  padding-left: 20px;

  padding-top: 30px;

}
.clear {
  clear: both;
}
.left-header ul {
  padding-top: 35px;
  float: right;

}

.left-header ul li {
  font-size: 25px;
  display:inline-block;


}

.left-header ul li a {
  font-family: monospace;
  font-size: 35px;
  color: #1199ff;
  text-decoration: none;
  text-shadow: 2px 2px #5555ff;
  margin-right: 30px;

}

.splash {
  width: 100%;
  height: 550px;
  background-position: center;
  background-size: cover;
}
#splashhome {
  background-image: url(../img/splash.jpg);
}
#splashlocation {
  background-image: url(../img/tennisdog.jpg);
}

#splashlegal {
  background-image: url(../img/lawdog.jpg);
}

.col1 {
  float: left;
  width: 25%;
  padding-top: 10px;
}
.col1 img {
  width: 100%;
  border-radius: 15px;
}

.col1 p {
  background-color: skyblue;
  margin-top: 0px;
  text-indent: 50px;
  font-size: 25px;
  color: black;
  font-family: 'Crete Round', serif;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.col2 {
  float: right;
  width: 25%;
  padding-top: 10px;

}
.col2 img {
  width: 100%;
  border-radius: 15px;
}

.col2 p {
  background-color: skyblue;
  margin-top: 0px;
  text-indent: 50px;
  font-size: 25px;
  color: black;
  font-family: 'Crete Round', serif;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.colmiddle {
  float: left;
  background-color: pink;
  width: 46%;
  margin-left: 15px;
  margin-top: 10px;
  text-indent: 50px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;

}

.colmiddle img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.colmiddle p {
  font-size: 20px;
  padding: 15px;

}

.topbar {
  padding: 10px;
  background-color: salmon;
  width: 100%;
  border-radius: 15px;
  width: 98%;

}










.colmiddlelegal {
  float: left;
  background-color: white;
  width: 46%;
  margin-left: 15px;
  margin-top: 10px;
  text-indent: 50px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;

}

.colmiddlelegal img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.colmiddlelegal p {
  font-size: 20px;
  padding: 15px;

}

.topbarlegal {
  padding: 10px;
  background-color: red;
  width: 100%;
  border-radius: 15px;
  width: 98%;

}
